<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>

<p>Bonjour,</p>

<p>
    Ci-dessous le suivi technique du {{ date }}
</p>

{% for app in apps %}
    <p>
        <b><u>{{ app.appName }} :</u></b>
    </p>
    <p>Page consultation => {% if app.status == true %} OK {% else %} KO {% endif %}</p>
{% endfor %}


</body>
</html>
